@reference "tailwindcss";

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@layer components {
    .badges-container {
        @apply flex flex-row flex-wrap justify-between gap-0.5;

        a:hover {
            animation: tilt-shaking 0.5s ease-in-out infinite;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .badges-container {
            a:hover {
                animation-duration: 1.5s;
            }
        }
    }
}
